<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header') %> 
<body>
    <%- include('../partials/navbar') %>

    <div class="details content">
        <h2><%= blog.title %></h2>
        <div class="content">
            <p><%= blog.body %></p>
        </div>
        <a class="delete" data-doc="<%= blog._id %>">
            <img class="img-fluid" id="trashcan-icon" src="/img/trashcan.svg" alt="trashcan">
        </a>
    </div>

    <%- include('../partials/footer') %>

    <script>
        const trashcan = document.querySelector('a.delete');
        trashcan.addEventListener('click', remove, false);

        function remove(e) {
            const endpoint = '/blogs/' + trashcan.dataset.doc;
            const opt = { method: 'delete' }
            fetch(endpoint, opt)
            .then(response => response.json())
            .then(data => window.location.href = data.redirect)
            .catch(err => console.error(err));
        }
    </script>
</body>
</html>